/* import bootstrap cdn */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* layout */
/* The naming convention is following up with CSS BEM methodology */
.text-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

.app-name::before,
.app-name::after {
  content: ' - '
}

.flex-center__column { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
